<div class="mn">
    <mat-toolbar color="accent">
        <p>HOTEL REGISTRATIONS</p>
    </mat-toolbar>
</div>
<div>
    <mat-card class=" uv ">
        <mat-card-content>
            <label for="username">Username:</label><br><br>
            <input type="username"><br><br>
            <label for="password">Password:</label><br><br>
            <input type="password "><br><br>
            <button class="btn btn-success" (click)="show()">Login</button>
        </mat-card-content>
    </mat-card>
</div>